AI-Log-Error-Analyzer.json
{
  "name": "AI-Log-Error-Analyzer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        0
      ],
      "id": "dc626028-9130-4260-8d78-5f0cce2b6e28",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo journalctl --since \"15 minutes ago\" \n grep -iE \"error\nfatal\ncritical\" \n tail -50"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ],
      "id": "ac673065-ae90-486d-802b-5318b3cb37e1",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "oyAQ66koYGDFS0cA",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout;\n\n// Split into individual log lines\nconst lines = stdout.split('\\n').filter(line => line.trim() !== '');\n\n// Extract only error/fatal/critical lines\nconst errorLines = lines.filter(line => \n  /error|fatal|critical/i.test(line)\n);\n\n// Build structured output\nconst errors = errorLines.map(line => {\n  // Try to extract timestamp and message\n  const match = line.match(/^(\\w+\\s+\\d+\\s+[\\d:]+)\\s+(\\S+)\\s+(.+)$/);\n  return {\n    raw: line,\n    timestamp: match ? match[1] : 'unknown',\n    host: match ? match[2] : 'unknown',\n    message: match ? match[3] : line,\n  };\n});\n\nreturn [{\n  json: {\n    hasErrors: errors.length > 0,\n    errorCount: errors.length,\n    errors: errors,\n    summary: errors.map(e => e.raw).join(' | ').replace(/[\\r\\n]+/g, ' ').replace(/\"/g, \"'\"),\n    checkedAt: new Date().toISOString(),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "95557e66-7a86-4c1d-bf83-65f78321ccc5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a1508fd-e680-4aea-995a-780e2dbb4bc7",
              "leftValue": "={{ $json.hasErrors }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        0
      ],
      "id": "16c57770-ce2b-4966-a7fd-a7f252ac1019",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gsk Your Groq-APIKEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior DevOps engineer. Analyse these server log errors and provide: 1) Summary of what went wrong, 2) Severity level, 3) Recommended fix.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.summary }}\"\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "70155851-6842-4099-a26d-459aceef447c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJN7BQT4M",
          "mode": "list",
          "cachedResultName": "devops"
        },
        "text": "=🚨 *Server Error Alert* 🚨 *Server:* 16.171.91.105 *Time:* {{ $('Code in JavaScript').item.json.checkedAt }} *Errors Found:* {{ $('Code in JavaScript').item.json.errorCount }}  *🤖 AI Analysis:* {{ $json.choices[0].message.content }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        432,
        0
      ],
      "id": "ec5087c6-a9ab-455b-96fb-4ce46fb29068",
      "name": "Send a message",
      "webhookId": "b1732372-0395-4178-8597-7670b6865526",
      "credentials": {
        "slackOAuth2Api": {
          "id": "1iaoxrpE2gzSqVlU",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2556033c-800b-4282-9da9-b40d356815c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "253017ad22821f7caa291251627ac66725dc02f6426e033603974ed32ad579f5"
  },
  "id": "TCK9ImZk57KNcC11",
  "tags": []
}